<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h1 id="username">Welcome %u!</h1>
        <p id="email"> 
            We send a validation key to <strong>%a</strong> email address.<br>
            Please enter the key inside the following text input and press submit to activate your account.
        </p>
        <input type="text" id="key" name="key">
        <label for="key">Here insert your validation key.</label><br>
        <button type="button" onclick="sendValidateAccountKey()">Submit</button>
        <script type="text/javascript" src="/Activate-Account.js"></script>
    </body>
</html>